<div class='image_container mt-2'>
    <%= image_pack_tag "hoodie.jpg", style: 'width: 100%;' %>
    <div class='primary_image_text text-white text-uppercase font-weight-bold' style='font-size: 40pt;'>
        Check out our Gear!
    </div>
    <div class='secondary_image_text text-white'>
        We have new gear regularly and you can either purchase or set up a payment subscription.
    </div>
</div>

<div class='container'>
  <% if current_user.contributor? %>
    <div class='d-flex mt-5 align-items-center justify-content-between'>
      <%= link_to "New", new_product_path(), class: 'btn btn-primary' %>
    </div>
  <% end %>

  <div class='mt-3'>
    <div class='d-flex card_container'>
      <% @products.each do |product| %>
        <div class='card p-2'>
          <% if product.photo&.image_url %>
            <%= image_tag product.photo&.image_url, class: 'product_image card-img-top' %>
          <% else %>
            <%= image_pack_tag "default_image.jpg", class: 'product_image card-img-top' %>
          <% end %>
          <%= link_to "View", purchases_product_path(product), remote: true, class: 'btn btn-outline-dark centered' %>
        </div>
      <% end %>
    </div>
  </div>

  <div id="product_modal_popup"></div>
</div>
